---
layout: page
# Curated Categories matching the Chirpy card style
---

{% include lang.html %}

{% assign configured_categories = site.data.categories %}
{% assign group_index = 0 %}
{% assign HEAD_PREFIX = 'h_' %}

{% for item in configured_categories %}
  {% assign category_name = item.name %}
  {% assign posts_of_category = site.categories[category_name] %}
  {% assign top_posts_size = posts_of_category | size %}

  <div class="card categories">
    <div
      id="{{ HEAD_PREFIX }}{{ group_index }}"
      class="card-header d-flex justify-content-between hide-border-bottom"
    >
      <span class="ms-2">
        <i class="far fa-folder fa-fw"></i>

        {% if top_posts_size > 0 %}
          {% capture category_url %}/categories/{{ category_name | slugify | url_encode }}/{% endcapture %}
          <a href="{{ category_url | relative_url }}" class="mx-2">{{ category_name }}</a>
        {% else %}
          <span class="mx-2">{{ category_name }}</span>
        {% endif %}

        <span class="text-muted small font-weight-light">
          {{ top_posts_size }}
          {% if top_posts_size > 1 %}
            {{
              site.data.locales[lang].categories.post_measure.plural
              | default: site.data.locales[lang].categories.post_measure
            }}
          {% else %}
            {{
              site.data.locales[lang].categories.post_measure.singular
              | default: site.data.locales[lang].categories.post_measure
            }}
          {% endif %}
        </span>
      </span>

      <span class="category-trigger hide-border-bottom disabled">
        <i class="fas fa-fw fa-angle-right"></i>
      </span>
    </div>
  </div>

  {% assign group_index = group_index | plus: 1 %}
{% endfor %}
