---
layout: default
---

{% include lang.html %}

{% assign page_title = page.title %}
{% if page.collection == 'tabs' %}
  {% assign page_segments = page.url | split: '/' %}
  {% assign tab_key = page_segments[1] %}
  {% assign page_title = site.data.locales[lang].tabs[tab_key] | default: page.title %}
{% endif %}

<article class="notion-page">
  <header class="notion-page-head notion-page__header">
    <span class="notion-page-head__icon">
      <i class="{{ page.icon | default: 'far fa-note-sticky' }}"></i>
    </span>
    <div>
      <p class="notion-page-head__eyebrow">Reference page</p>
      <h1>{{ page_title }}</h1>
    </div>
  </header>

  <div class="content notion-page__content">
    {{ content }}
  </div>
</article>
